In [68]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler

## Confirmed Cases Reading & Preprocessing

In [69]:
# Read The Confirmed Cases Data
confirmed_data = pd.read_csv('data/covid19_confirmed.csv')

In [70]:
# Filter Sri Lanka & Columns
confirmed_data = confirmed_data.loc[confirmed_data['Country/Region'] == 'Sri Lanka']

In [71]:
# Drop Columns
confirmed_data = confirmed_data.drop(columns=['Province/State', 'Country/Region', 'Lat', 'Long'])
confirmed_data

,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,1/31/20,...,4/23/20,4/24/20,4/25/20,4/26/20,4/27/20,4/28/20,4/29/20,4/30/20,5/1/20,5/2/20
202,0,0,0,0,0,1,1,1,1,1,...,368,420,460,523,588,619,649,663,690,705

In [72]:
# Create New DataFrame
confirmed_data = pd.DataFrame({'Date': confirmed_data.columns.values, 'Confirmed': confirmed_data.values.flatten()})

In [73]:
# Parse Date
confirmed_data['Date'] = pd.to_datetime(confirmed_data['Date'])

In [74]:
# Set Date as Index 
confirmed_data.set_index('Date', inplace = True)
confirmed_data

            Confirmed
Date
2020-01-22          0
2020-01-23          0
2020-01-24          0
2020-01-25          0
2020-01-26          0
...               ...
2020-04-28        619
2020-04-29        649
2020-04-30        663
2020-05-01        690
2020-05-02        705

[102 rows x 1 columns]

## Recovered Cases Reading & Preprocessing

In [75]:
# Reading The Recovered Cases
recovered_data = pd.read_csv('data/covid19_recovered.csv')

In [76]:
# Filter Sri Lanka & Columns
recovered_data = recovered_data[recovered_data['Country/Region'] == 'Sri Lanka']

In [77]:
# Drop Columns
recovered_data = recovered_data.drop(columns=['Province/State', 'Country/Region', 'Lat', 'Long'])
recovered_data

,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,1/31/20,...,4/23/20,4/24/20,4/25/20,4/26/20,4/27/20,4/28/20,4/29/20,4/30/20,5/1/20,5/2/20
200,0,0,0,0,0,0,0,0,0,0,...,107,109,118,120,126,134,136,154,162,172

In [78]:
# Create New DataFrame
recovered_data = pd.DataFrame({'Date': recovered_data.columns.values, 'Recovered': recovered_data.values.flatten()})

In [79]:
# Parse Date
recovered_data['Date'] = pd.to_datetime(recovered_data['Date'])

In [80]:
# Set Date as Index 
recovered_data.set_index('Date', inplace = True)
recovered_data

            Recovered
Date
2020-01-22          0
2020-01-23          0
2020-01-24          0
2020-01-25          0
2020-01-26          0
...               ...
2020-04-28        134
2020-04-29        136
2020-04-30        154
2020-05-01        162
2020-05-02        172

[102 rows x 1 columns]

## Deaths Cases Reading & Preprocessing

In [81]:
# Reading The Deaths Cases
death_data = pd.read_csv('data/covid19_deaths.csv')
death_data

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,4/23/20,4/24/20,4/25/20,4/26/20,4/27/20,4/28/20,4/29/20,4/30/20,5/1/20,5/2/20
0,NaN,Afghanistan,33.000000,65.000000,0,0,0,0,0,0,...,42,43,47,50,57,58,60,64,68,72
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,27,27,27,28,28,30,30,31,31,31
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,407,415,419,425,432,437,444,450,453,459
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,37,40,40,40,40,41,42,42,43,44
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,2,2,2,2,2,2,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,NaN,Western Sahara,24.215500,-12.885800,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
262,NaN,Sao Tome and Principe,0.186360,6.613081,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
263,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2,2,2
264,NaN,Comoros,-11.645500,43.333300,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
265,NaN,Tajikistan,38.861034,71.276093,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2

In [82]:
# Filter Sri Lanka & Columns
death_data = death_data[death_data['Country/Region'] == 'Sri Lanka']

In [83]:
# Drop Columns
death_data = death_data.drop(columns=['Province/State', 'Country/Region', 'Lat', 'Long'])
death_data

,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,1/31/20,...,4/23/20,4/24/20,4/25/20,4/26/20,4/27/20,4/28/20,4/29/20,4/30/20,5/1/20,5/2/20
202,0,0,0,0,0,0,0,0,0,0,...,7,7,7,7,7,7,7,7,7,7

In [84]:
# Create New DataFrame
death_data = pd.DataFrame({'Date': death_data.columns.values, 'Deaths': death_data.values.flatten()})

In [85]:
# Parse Date
death_data['Date'] = pd.to_datetime(death_data['Date'])

In [86]:
# Set Date as Index 
death_data.set_index('Date', inplace = True)
death_data

            Deaths
Date
2020-01-22       0
2020-01-23       0
2020-01-24       0
2020-01-25       0
2020-01-26       0
...            ...
2020-04-28       7
2020-04-29       7
2020-04-30       7
2020-05-01       7
2020-05-02       7

[102 rows x 1 columns]

### Joining DataFrames

In [137]:
covid19_data = pd.DataFrame({'Date': confirmed_data.index.values, 'Confirmed': confirmed_data.values.flatten(), 'Recovered': recovered_data.values.flatten(), 'Death': death_data.values.flatten()})
covid19_data.set_index('Date', inplace=True)

In [138]:
# Check For NAN OR Missing Values
covid19_data.isna().any()

Confirmed    False
Recovered    False
Death        False
dtype: bool

In [139]:
# Info
covid19_data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 102 entries, 2020-01-22 to 2020-05-02
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Confirmed  102 non-null    int64
 1   Recovered  102 non-null    int64
 2   Death      102 non-null    int64
dtypes: int64(3)
memory usage: 3.2 KB

In [142]:
# Change Data Types To Float
covid19_data['Confirmed'] = covid19_data['Confirmed'].astype('float')
covid19_data['Death'] = covid19_data['Death'].astype('float')
covid19_data['Recovered'] = covid19_data['Recovered'].astype('float')

In [147]:
# Normalizing The Data
scaler = MinMaxScaler(feature_range=(0, 1))
scaled_data = scaler.fit_transform(covid19_data)

In [155]:
# Get Training Data Length
training_data_len = np.ceil(0.9 * scaled_data.shape[0]).astype('int')
training_data_len

92

In [279]:
# Splitting Training Data
training_data = scaled_data[:training_data_len, :]
training_data = np.array(training_data)

In [401]:
# Split Into X_train, y_train
X_train = []
y_train = []

for i in range(30, training_data.shape[0]-30):
    X_train.append(training_data[i-30:i])
    y_train.append(training_data[i:i+7])

In [402]:
# Converting Lists Into Numpy Arrays
X_train, y_train = np.array(X_train), np.array(y_train)

X_train.shape, y_train.shape

((32, 30, 3), (32, 7, 3))

In [403]:
# Reshaping
y_train = y_train.reshape(32, -1)
y_train.shape

(32, 21)

## Bulding The Model

In [404]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM, Dense, Dropout

In [405]:
# Initializing The RNN
model = Sequential()

# Adding The First LSTM Layer & Dropout
model.add(LSTM(units = 50, return_sequences = True, input_shape = (X_train.shape[1], 3)))
model.add(Dropout(0.2))

# Adding The Second LSTM Layer & Dropout
model.add(LSTM(units = 50, return_sequences = True))
model.add(Dropout(0.2))

# Adding The Final LSTM Layer & Dropout
model.add(LSTM(units = 50))
model.add(Dropout(0.2))

# Adding The Dense Layer
model.add(Dense(units = 21))

In [406]:
# Compiling The Model
model.compile(optimizer = 'adam', loss = 'mean_squared_error')

In [407]:
# Train The Model
model.fit(X_train, y_train, batch_size = 32, epochs = 100, validation_split = 0.2)

Train on 25 samples, validate on 7 samples
Epoch 1/100
25/25 [==============================] - 6s 234ms/sample - loss: 3.3178e-04 - val_loss: 0.0058
Epoch 2/100
25/25 [==============================] - 0s 4ms/sample - loss: 2.7699e-04 - val_loss: 0.0054
Epoch 3/100
25/25 [==============================] - 0s 4ms/sample - loss: 2.5169e-04 - val_loss: 0.0051
Epoch 4/100
25/25 [==============================] - 0s 4ms/sample - loss: 2.4911e-04 - val_loss: 0.0048
Epoch 5/100
25/25 [==============================] - 0s 4ms/sample - loss: 2.5403e-04 - val_loss: 0.0047
Epoch 6/100
25/25 [==============================] - 0s 4ms/sample - loss: 2.4764e-04 - val_loss: 0.0047
Epoch 7/100
25/25 [==============================] - 0s 4ms/sample - loss: 2.4606e-04 - val_loss: 0.0047
Epoch 8/100
25/25 [==============================] - 0s 4ms/sample - loss: 2.4618e-04 - val_loss: 0.0048
Epoch 9/100
25/25 [==============================] - 0s 4ms/sample - loss: 2.4422e-04 - val_loss: 0.0049
Epoch 10/100
25/25 [==============================] - 0s 4ms/sample - loss: 2.6016e-04 - val_loss: 0.0050
Epoch 11/100
25/25 [==============================] - 0s 4ms/sample - loss: 2.4323e-04 - val_loss: 0.0050
Epoch 12/100
25/25 [==============================] - 0s 4ms/sample - loss: 2.3888e-04 - val_loss: 0.0051
Epoch 13/100
25/25 [==============================] - 0s 4ms/sample - loss: 2.4355e-04 - val_loss: 0.0051
Epoch 14/100
25/25 [==============================] - 0s 4ms/sample - loss: 2.3693e-04 - val_loss: 0.0051
Epoch 15/100
25/25 [==============================] - 0s 4ms/sample - loss: 2.4446e-04 - val_loss: 0.0051
Epoch 16/100
25/25 [==============================] - 0s 4ms/sample - loss: 2.3599e-04 - val_loss: 0.0051
Epoch 17/100
25/25 [==============================] - 0s 4ms/sample - loss: 2.3716e-04 - val_loss: 0.0051
Epoch 18/100
25/25 [==============================] - 0s 4ms/sample - loss: 2.3705e-04 - val_loss: 0.0051
Epoch 19/100
25/25 [==============================] - 0s 4ms/sample - loss: 2.3131e-04 - val_loss: 0.0051
Epoch 20/100
25/25 [==============================] - 0s 4ms/sample - loss: 2.4102e-04 - val_loss: 0.0051
Epoch 21/100
25/25 [==============================] - 0s 5ms/sample - loss: 2.4163e-04 - val_loss: 0.0050
Epoch 22/100
25/25 [==============================] - 0s 5ms/sample - loss: 2.3752e-04 - val_loss: 0.0050
Epoch 23/100
25/25 [==============================] - 0s 7ms/sample - loss: 2.3614e-04 - val_loss: 0.0050
Epoch 24/100
25/25 [==============================] - 0s 4ms/sample - loss: 2.3856e-04 - val_loss: 0.0050
Epoch 25/100
25/25 [==============================] - 0s 4ms/sample - loss: 2.2753e-04 - val_loss: 0.0050
Epoch 26/100
25/25 [==============================] - 0s 5ms/sample - loss: 2.3491e-04 - val_loss: 0.0049
Epoch 27/100
25/25 [==============================] - 0s 4ms/sample - loss: 2.4117e-04 - val_loss: 0.0049
Epoch 28/100
25/25 [==============================] - 0s 4ms/sample - loss: 2.3495e-04 - val_loss: 0.0049
Epoch 29/100
25/25 [==============================] - 0s 6ms/sample - loss: 2.2900e-04 - val_loss: 0.0049
Epoch 30/100
25/25 [==============================] - 0s 5ms/sample - loss: 2.3322e-04 - val_loss: 0.0049
Epoch 31/100
25/25 [==============================] - 0s 5ms/sample - loss: 2.2866e-04 - val_loss: 0.0049
Epoch 32/100
25/25 [==============================] - 0s 5ms/sample - loss: 2.3362e-04 - val_loss: 0.0049
Epoch 33/100
25/25 [==============================] - 0s 4ms/sample - loss: 2.3908e-04 - val_loss: 0.0049
Epoch 34/100
25/25 [==============================] - 0s 4ms/sample - loss: 2.3226e-04 - val_loss: 0.0049
Epoch 35/100
25/25 [==============================] - 0s 5ms/sample - loss: 2.3665e-04 - val_loss: 0.0050
Epoch 36/100
25/25 [==============================] - 0s 4ms/sample - loss: 2.3173e-04 - val_loss: 0.0050
Epoch 37/100
25/25 [==============================] - 0s 4ms/sample - loss: 2.3646e-04 - val_loss: 0.0050
Epoch 38/100
25/25 [==============================] - 0s 5ms/sample - loss: 2.3673e-04 - val_loss: 0.0050
Epoch 39/100
25/25 [==============================] - 0s 4ms/sample - loss: 2.3536e-04 - val_loss: 0.0050
Epoch 40/100
25/25 [==============================] - 0s 4ms/sample - loss: 2.3558e-04 - val_loss: 0.0050
Epoch 41/100
25/25 [==============================] - 0s 4ms/sample - loss: 2.3354e-04 - val_loss: 0.0050
Epoch 42/100
25/25 [==============================] - 0s 4ms/sample - loss: 2.3650e-04 - val_loss: 0.0050
Epoch 43/100
25/25 [==============================] - 0s 4ms/sample - loss: 2.3612e-04 - val_loss: 0.0050
Epoch 44/100
25/25 [==============================] - 0s 4ms/sample - loss: 2.3041e-04 - val_loss: 0.0050
Epoch 45/100
25/25 [==============================] - 0s 4ms/sample - loss: 2.3157e-04 - val_loss: 0.0050
Epoch 46/100
25/25 [==============================] - 0s 4ms/sample - loss: 2.3318e-04 - val_loss: 0.0050
Epoch 47/100
25/25 [==============================] - 0s 4ms/sample - loss: 2.3124e-04 - val_loss: 0.0050
Epoch 48/100
25/25 [==============================] - 0s 4ms/sample - loss: 2.3246e-04 - val_loss: 0.0050
Epoch 49/100
25/25 [==============================] - 0s 4ms/sample - loss: 2.3763e-04 - val_loss: 0.0050
Epoch 50/100
25/25 [==============================] - 0s 4ms/sample - loss: 2.3112e-04 - val_loss: 0.0050
Epoch 51/100
25/25 [==============================] - 0s 4ms/sample - loss: 2.3328e-04 - val_loss: 0.0050
Epoch 52/100
25/25 [==============================] - 0s 4ms/sample - loss: 2.3491e-04 - val_loss: 0.0050
Epoch 53/100
25/25 [==============================] - 0s 4ms/sample - loss: 2.3772e-04 - val_loss: 0.0050
Epoch 54/100
25/25 [==============================] - 0s 4ms/sample - loss: 2.3133e-04 - val_loss: 0.0050
Epoch 55/100
25/25 [==============================] - 0s 4ms/sample - loss: 2.3532e-04 - val_loss: 0.0050
Epoch 56/100
25/25 [==============================] - 0s 4ms/sample - loss: 2.3515e-04 - val_loss: 0.0050
Epoch 57/100
25/25 [==============================] - 0s 4ms/sample - loss: 2.3284e-04 - val_loss: 0.0049
Epoch 58/100
25/25 [==============================] - 0s 4ms/sample - loss: 2.3182e-04 - val_loss: 0.0049
Epoch 59/100
25/25 [==============================] - 0s 4ms/sample - loss: 2.2898e-04 - val_loss: 0.0049
Epoch 60/100
25/25 [==============================] - 0s 4ms/sample - loss: 2.3217e-04 - val_loss: 0.0049
Epoch 61/100
25/25 [==============================] - 0s 4ms/sample - loss: 2.3302e-04 - val_loss: 0.0049
Epoch 62/100
25/25 [==============================] - 0s 4ms/sample - loss: 2.3435e-04 - val_loss: 0.0049
Epoch 63/100
25/25 [==============================] - 0s 4ms/sample - loss: 2.2991e-04 - val_loss: 0.0049
Epoch 64/100
25/25 [==============================] - 0s 4ms/sample - loss: 2.3116e-04 - val_loss: 0.0049
Epoch 65/100
25/25 [==============================] - 0s 4ms/sample - loss: 2.3148e-04 - val_loss: 0.0049
Epoch 66/100
25/25 [==============================] - 0s 4ms/sample - loss: 2.3369e-04 - val_loss: 0.0049
Epoch 67/100
25/25 [==============================] - 0s 4ms/sample - loss: 2.3288e-04 - val_loss: 0.0049
Epoch 68/100
25/25 [==============================] - 0s 4ms/sample - loss: 2.3012e-04 - val_loss: 0.0049
Epoch 69/100
25/25 [==============================] - 0s 4ms/sample - loss: 2.3021e-04 - val_loss: 0.0049
Epoch 70/100
25/25 [==============================] - 0s 4ms/sample - loss: 2.3114e-04 - val_loss: 0.0049
Epoch 71/100
25/25 [==============================] - 0s 4ms/sample - loss: 2.3103e-04 - val_loss: 0.0049
Epoch 72/100
25/25 [==============================] - 0s 4ms/sample - loss: 2.3592e-04 - val_loss: 0.0049
Epoch 73/100
25/25 [==============================] - 0s 4ms/sample - loss: 2.3161e-04 - val_loss: 0.0049
Epoch 74/100
25/25 [==============================] - 0s 4ms/sample - loss: 2.3304e-04 - val_loss: 0.0049
Epoch 75/100
25/25 [==============================] - 0s 4ms/sample - loss: 2.2963e-04 - val_loss: 0.0049
Epoch 76/100
25/25 [==============================] - 0s 5ms/sample - loss: 2.2939e-04 - val_loss: 0.0049
Epoch 77/100
25/25 [==============================] - 0s 4ms/sample - loss: 2.3112e-04 - val_loss: 0.0049
Epoch 78/100
25/25 [==============================] - 0s 4ms/sample - loss: 2.3204e-04 - val_loss: 0.0049
Epoch 79/100
25/25 [==============================] - 0s 4ms/sample - loss: 2.3004e-04 - val_loss: 0.0049
Epoch 80/100
25/25 [==============================] - 0s 4ms/sample - loss: 2.2934e-04 - val_loss: 0.0049
Epoch 81/100
25/25 [==============================] - 0s 4ms/sample - loss: 2.3434e-04 - val_loss: 0.0049
Epoch 82/100
25/25 [==============================] - 0s 4ms/sample - loss: 2.3209e-04 - val_loss: 0.0049
Epoch 83/100
25/25 [==============================] - 0s 4ms/sample - loss: 2.3161e-04 - val_loss: 0.0049
Epoch 84/100
25/25 [==============================] - 0s 4ms/sample - loss: 2.3060e-04 - val_loss: 0.0049
Epoch 85/100
25/25 [==============================] - 0s 4ms/sample - loss: 2.2993e-04 - val_loss: 0.0049
Epoch 86/100
25/25 [==============================] - 0s 4ms/sample - loss: 2.3622e-04 - val_loss: 0.0049
Epoch 87/100
25/25 [==============================] - 0s 4ms/sample - loss: 2.3181e-04 - val_loss: 0.0049
Epoch 88/100
25/25 [==============================] - 0s 4ms/sample - loss: 2.3393e-04 - val_loss: 0.0049
Epoch 89/100
25/25 [==============================] - 0s 4ms/sample - loss: 2.3028e-04 - val_loss: 0.0049
Epoch 90/100
25/25 [==============================] - 0s 4ms/sample - loss: 2.2697e-04 - val_loss: 0.0049
Epoch 91/100
25/25 [==============================] - 0s 4ms/sample - loss: 2.3046e-04 - val_loss: 0.0049
Epoch 92/100
25/25 [==============================] - 0s 4ms/sample - loss: 2.3319e-04 - val_loss: 0.0049
Epoch 93/100
25/25 [==============================] - 0s 4ms/sample - loss: 2.2969e-04 - val_loss: 0.0049
Epoch 94/100
25/25 [==============================] - 0s 4ms/sample - loss: 2.3186e-04 - val_loss: 0.0049
Epoch 95/100
25/25 [==============================] - 0s 4ms/sample - loss: 2.3539e-04 - val_loss: 0.0049
Epoch 96/100
25/25 [==============================] - 0s 4ms/sample - loss: 2.2871e-04 - val_loss: 0.0049
Epoch 97/100
25/25 [==============================] - 0s 4ms/sample - loss: 2.3469e-04 - val_loss: 0.0049
Epoch 98/100
25/25 [==============================] - 0s 4ms/sample - loss: 2.2961e-04 - val_loss: 0.0049
Epoch 99/100
25/25 [==============================] - 0s 4ms/sample - loss: 2.3256e-04 - val_loss: 0.0049
Epoch 100/100
25/25 [==============================] - 0s 4ms/sample - loss: 2.3010e-04 - val_loss: 0.0049