In [26]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler

## Confirmed Cases Reading & Preprocessing

In [27]:
# Read The Confirmed Cases Data
confirmed_data = pd.read_csv('data/covid19_confirmed.csv')

In [28]:
# Filter Sri Lanka & Columns
confirmed_data = confirmed_data.loc[confirmed_data['Country/Region'] == 'Sri Lanka']

In [29]:
# Drop Columns
confirmed_data = confirmed_data.drop(columns=['Province/State', 'Country/Region', 'Lat', 'Long'])
confirmed_data

,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,1/31/20,...,4/23/20,4/24/20,4/25/20,4/26/20,4/27/20,4/28/20,4/29/20,4/30/20,5/1/20,5/2/20
202,0,0,0,0,0,1,1,1,1,1,...,368,420,460,523,588,619,649,663,690,705

In [30]:
# Create New DataFrame
confirmed_data = pd.DataFrame({'Date': confirmed_data.columns.values, 'Cases': confirmed_data.values.flatten()})

In [32]:
# Parse Date
confirmed_data['Date'] = pd.to_datetime(confirmed_data['Date'])

In [33]:
# Set Date as Index 
confirmed_data.set_index('Date', inplace = True)
confirmed_data

            Cases
Date
2020-01-22      0
2020-01-23      0
2020-01-24      0
2020-01-25      0
2020-01-26      0
...           ...
2020-04-28    619
2020-04-29    649
2020-04-30    663
2020-05-01    690
2020-05-02    705

[102 rows x 1 columns]

## Recovered Cases Reading & Preprocessing

In [47]:
# Reading The Recovered Cases
recovered_data = pd.read_csv('data/covid19_recovered.csv')

In [48]:
# Filter Sri Lanka & Columns
recovered_data = recovered_data[recovered_data['Country/Region'] == 'Sri Lanka']

In [49]:
# Drop Columns
recovered_data = recovered_data.drop(columns=['Province/State', 'Country/Region', 'Lat', 'Long'])
recovered_data

,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,1/31/20,...,4/23/20,4/24/20,4/25/20,4/26/20,4/27/20,4/28/20,4/29/20,4/30/20,5/1/20,5/2/20
200,0,0,0,0,0,0,0,0,0,0,...,107,109,118,120,126,134,136,154,162,172

In [50]:
# Create New DataFrame
recovered_data = pd.DataFrame({'Date': recovered_data.columns.values, 'Cases': recovered_data.values.flatten()})

In [51]:
# Parse Date
recovered_data['Date'] = pd.to_datetime(recovered_data['Date'])

In [53]:
# Set Date as Index 
recovered_data.set_index('Date', inplace = True)
recovered_data

            Cases
Date
2020-01-22      0
2020-01-23      0
2020-01-24      0
2020-01-25      0
2020-01-26      0
...           ...
2020-04-28    134
2020-04-29    136
2020-04-30    154
2020-05-01    162
2020-05-02    172

[102 rows x 1 columns]