In [78]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler

In [79]:
# Read The Confirmed Cases Data
confirmed_data = pd.read_csv('data/covid19_confirmed.csv')

In [80]:
# Filter Sri Lanka & Columns
confirmed_data = confirmed_data.loc[confirmed_data['Country/Region'] == 'Sri Lanka']

In [81]:
# Drop Columns
confirmed_data = confirmed_data.drop(columns=['Province/State', 'Country/Region', 'Lat', 'Long'])
confirmed_data

,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,1/31/20,...,4/23/20,4/24/20,4/25/20,4/26/20,4/27/20,4/28/20,4/29/20,4/30/20,5/1/20,5/2/20
202,0,0,0,0,0,1,1,1,1,1,...,368,420,460,523,588,619,649,663,690,705

In [82]:
# Create New DataFrame
confirmed_data = pd.DataFrame({'Date': confirmed_data.columns.values, 'Cases': confirmed_data.values.flatten()})

In [83]:
# Set Index & Parse Date
confirmed_data['Date'] = pd.to_datetime(confirmed_data['Date'])
confirmed_data.set_index('Date')

confirmed_data

        Date  Cases
0    1/22/20      0
1    1/23/20      0
2    1/24/20      0
3    1/25/20      0
4    1/26/20      0
..       ...    ...
97   4/28/20    619
98   4/29/20    649
99   4/30/20    663
100   5/1/20    690
101   5/2/20    705

[102 rows x 2 columns]